<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.StudentMapper">

	<insert id="insert" >
		INSERT Student (id,name, password, grade, email, departmentId, userType )
		VALUES (#{id},#{name}, #{password}, #{grade}, #{email}, #{departmentId}, #{userType})
	</insert>

	<update id="update">
		UPDATE Student SET
		departmentId = #{departmentId},
		password= #{password},
		year = #{year}
		WHERE id = #{id}
	</update>
	
	<select id="loginCheck" resultType="int">
		select count(*) from student where id = #{id};
	</select>
	
	<select id ="password" resultType="LoginInfo">
	select * from student where id = #{id} and email = #{email}
	</select>
	
	<select id="login" resultType="LoginInfo">
	select * from student where id = #{id} and password = #{password}
	</select>
	
	<select id="turnOver" resultType="LoginInfo">
	select * from student where id = #{id}
	</select>
</mapper>