<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentR.mapper.StudentMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="studentId">
		INSERT Student ()studentName, password, year, email, departmentId, userType )
		VALUES (#{studentName}, #{password}, #{year}, #{email}, #{departmentId}, #{userType})
	</insert>

	<update id="update">
		UPDATE Student SET
		departmentId = #{departmentId},
		password= #{password},
		year = #{year}
		WHERE id = #{id}
	</update>
	
</mapper>